db.sqlite3
adocaoapp/__pycache__/*
/apps/pessoa/__pycache__/*
/apps/pessoa/migrations/*
/apps/ong/__pycache__/*
/apps/ong/migrations/*
/apps/especie/__pycache__/*
/apps/especie/migrations/*
/apps/ficha/__pycache__/*
/apps/ficha/migrations/*