db.sqlite3
adocaoapp/__pycache__/*
/apps/pessoas/__pycache__/*
/apps/pessoas/migrations/*
/apps/ongs/__pycache__/*
/apps/ongs/migrations/*
/apps/especies/__pycache__/*
/apps/especies/migrations/*
/apps/fichas/__pycache__/*
/apps/fichas/migrations/*
/apps/veterinarios/__pycache__/*
/apps/veterinarios/migrations/*
/apps/animais/__pycache__/*
/apps/animais/migrations/*
/apps/adocaos/__pycache__/*
/apps/adocaos/migrations/*
/apps/animaisadotados/__pycache__/*
/apps/animaisadotados/migrations/*